

body{
    font-family: Arial, sans-serif;
    width: 100%;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
header{
    width: 100%;
    background-color: #06c9ff;
    height: 81px;
}
.header-menu{
    width: 1200px;
    margin: 0 auto;
}

.header-menu>img,
.header-menu>div,
.header-menu>button{
    float: left;
}

.logo{
    margin-top: 8px;
    margin-left: 50px;
}

.header-menu div{
    color: #ffffff;
    font-size: 20px;
}

.address-box{
    margin-top: 16px;
    margin-left: 140px;
}

.telephones{
    margin-top: 16px;
    margin-left: 94px;
}

.address-box-text{
    margin-left: 8px;
}
.mail{
    padding-bottom: 4px;
}
.mail p::before{
    content: '';
    float: left;
    margin: 0 6px 0 0;
    height: 20px;
    width: 24px;
    background: url("../img/mail-pic.png") no-repeat;
    display: block;
}

.address p::before{
    content: '';
    float: left;
    margin: 2px 6px 0 3px;
    height: 20px;
    width: 22px;
    background: url("../img/pin-pic.png") no-repeat;
    display: block;
}

.address-box>div{
    display: inline-block;
}

.telephones>div{
    display: inline-block;
}

.telephones-pic img{
    margin-right: 3px;
    padding-bottom: 4px;
}
.phone-1{
    padding-bottom: 4px;
}

.req-form-btn{
    margin: 27px auto auto 214px;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
    color: #fff;
    background-color: #2450ff;
    border: 1px solid #92a8ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
}

.order-call-btn{
    margin: 20px auto auto 52px;
    /*padding: 0;*/
    /*height: 40px;*/
    /*width: 168px;*/
    /*font-size: 24px;*/
    /*color: #fff;*/
    /*background-color: #2450ff;*/
    /*border: 1px solid #d2e3f9;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}



/*CONTENT*/
.box-1{
    width: 100%;
    height: 557px;
    overflow: hidden;
    background-image: url("../img/head-img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.box-1-cont{
    /*margin-left: 50px;*/
    /*margin-left: 100px;*/
    width: 1200px;
    margin: 0 auto;
}
.head-text{
    width: 1023px;
    margin-top: 64px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}
.req-form{
    overflow: hidden;
    color: #fff;
    margin-top: 73px;
    height: 235px;
    width: 599px;
    background-image: url("../img/req-form-img.png");
}

/*.req-form-btn{*/
    /*margin: 27px auto auto 214px;*/
    /*height: 40px;*/
    /*/!*width: 168px;*!/*/
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    /*font-size: 24px;*/
    /*color: #fff;*/
    /*background-color: #2450ff;*/
    /*/!*border: 1px solid #d2e3f9;*!/*/
    /*border: 1px solid #92a8ff;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*-webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);*/
/*}*/
.form-editors{
    margin: 30px auto auto 30px;
    display: inline-block;
}
.req-form p{
    text-align: center;
}
.req-form-header{
    margin-top: 10px;
    font-size: 30px;
}
.req-form-cont{
    margin-top: 12px;
    margin-left: 73px;
    width: 454px;
    font-size: 18px;
}
.form-editors input{
    margin-right: 30px;
    width: 245px;
    height: 25px;
}

input::-webkit-input-placeholder{
    padding-left: 7px;
    font-size: 16px;
    color: black;
}
input::-moz-placeholder{
    padding-left: 7px;
    font-size: 16px;
    color: black;
}

/*BOX - 2*/

.box-2{
    width: 100%;
    height: 418px;
}
.box-2-cont{
    width: 1200px;
    margin: 0 auto;
}
.box-2-cont div{
    float: left;
    width: 50%;
}
.box-2-left p{
    margin-top: 25px;
    font-size: 30px;
    font-weight: bold;
}
.box-2-left img{
    margin-top: 27px;
}
.box-2-right{
    font-size: 14px;
}
.box-2-right>div{
    float: left;
}
.box-2-right-car{
    margin-top: 90px;
}
.box-2-right-car::before{
    content: '';
    float: left;
    margin: 0 6px 0 0;
    height: 54px;
    width: 66px;
    background: url("../img/ico-box-2-r-car.png") no-repeat;
    display: block;
}
.box-2-right-hand{
    margin-top: 55px;
}
.box-2-right-hand::before{
    content: '';
    float: left;
    margin: 0 6px 0 0;
    height: 72px;
    width: 72px;
    background: url("../img/ico-box-2-r-hand.png") no-repeat;
    display: block;
}

.box-2-right-label{
    margin-top: 55px;
}
.box-2-right-label::before{
    content: '';
    float: left;
    margin: 0 6px 0 0;
    height: 72px;
    width: 72px;
    background: url("../img/ico-box-2-r-label.png") no-repeat;
    display: block;
}

.box-2-right-find{
    margin-top: 90px;
}
.box-2-right-find::before{
    content: '';
    float: left;
    margin: 0 6px 0 0;
    height: 58px;
    width: 62px;
    background: url("../img/ico-box-2-r-find.png") no-repeat;
    display: block;
}

.box-2-right-clock{
    margin-top: 55px;
}
.box-2-right-clock::before{
    content: '';
    float: left;
    margin: 0 6px 0 0;
    height: 65px;
    width: 65px;
    background: url("../img/ico-box-2-r-clock.png") no-repeat;
    display: block;
}


/**/

.box-3{
    width: 100%;
    height: 560px;
    background-color: #0198c2;
}

/*BOX - 4*/
.box-4{
    width: 100%;
    height: 630px;
}
.box-4-cont{
    width: 1200px;
    margin: 0 auto;
}

.box-4-cont-head p{
    margin-top: 35px;
    font-size: 30px;
    font-weight: bold;
}
.box-4-cont-text{
    font-size: 24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.box-4-cont-text p{
    width: 1005px;
}

.box-4-cont-text1{
    margin-top: 63px;
}
.box-4-cont-text1::before{
    content: '';
    float: left;
    margin: -30px 25px 0 0;
    height: 143px;
    width: 143px;
    background: url("../img/ico-box-4-1.png") no-repeat;
    display: block;
}
.box-4-cont-text2{
    margin-top: 100px;
    padding-left: 108px;
}
.box-4-cont-text2 p{
    /*float: left;*/
    text-align: right;
}
.box-4-cont-text2 p::after{
    content: '';
    float: right;
    margin: -58px -144px 0 0;
    height: 115px;
    width: 117px;
    background: url("../img/ico-box-4-2.png") no-repeat;
    display: block;
}
.box-4-cont-text3{
    margin-top: 100px;
}
.box-4-cont-text3::before{
    content: '';
    float: left;
    margin: -16px 20px 0 0;
    height: 114px;
    width: 157px;
    background: url("../img/ico-box-4-3.png") no-repeat;
    display: block;
}



/**/
.box-5{
    width: 100%;
    height: 505px;
    background-color: #e8e8e8;
}
/*BOX-6*/
.box-6{
    width: 100%;
    height: 525px;
    overflow: hidden;
    background-image: url("../img/map-img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.box-6-cont{
    width: 1200px;
    margin: 128px auto 0 auto;
}

.req-form-box-6{
    margin: 0 auto;
    width: 522px;
    height: 255px;
    overflow: hidden;
    color: #fff;
    background-color: #06c9ff;
}
.req-form-header-box-6{
    margin-top: 17px;
    margin-left: 18px;
    font-size: 30px;
}
.req-form-box-6 .req-form-header{
    margin-top: 23px;
}
.form-editors-6-cont{
    color: #000;
    margin-left: 18px;
}
.form-editors-6-cont input{
    width: 304px;
    height: 25px;
    border: none;
}
.editor-1-box-6{
    margin-top: 28px;
    margin-bottom: 22px;
}
.editor-1-box-6 input{
    margin-left: 59px;
}
.editor-2-box-6 input{
    margin-left: 23px;
}

.btn-box-6{
    margin-top: 20px;
}
.req-form-box-6-rem{
    margin-top: 20px;
    margin-left: 18px;
    font-size: 12px;
    color: #000;
}

/*FOOTER*/
.footer{
    width: 100%;
    height: 127px;
    background-color: #06c9ff;
}

.footer-menu{
    margin: 0 auto;
    font-size: 20px;
    width: 1200px;
    color: #ffffff;
}

.footer-menu>img,
.footer-menu>div,
.footer-menu>button{
    float: left;
}

.footer-logo{
    margin-top: 8px;
    /*margin-left: 100px;*/
}

.header-menu div{
    color: #ffffff;
    font-size: 20px;
}

.footer-address-box{
    margin-top: 17px;
    margin-left: 240px;
}

.footer-telephones{
    margin-top: 17px;
    margin-left: 300px;
}

.footer-address-box>div{
    display: inline-block;
}

.footer-telephones>div{
    display: inline-block;
}
/*FOOTER-BOTTOM*/
.footer-bottom{
    width: 1200px;
    margin: 0 auto;
}
.footer-bottom>div{
    float: left;
}
.author-text{
    margin-top: 14px;
    /*margin-left: 100px;*/
    font-size: 16px;
}
.author-text-auth{
    line-height: 27px;
}
.author-text-auth>span{
    border-bottom: 1px solid #000;
}
.soc-nets{
    height: 30px;
    margin-top: 11px;
    margin-left: 182px;
}
.soc-nets-ul {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc-nets-ul li {
    display:inline-block;
}

.soc-nets-ul li a{
    display: block;
    text-decoration:none;
    text-align:center;
}
.soc-facebook{
    width: 14px;
    height: 28px;
    background: url("../img/soc-facebook.png") no-repeat;
}
.soc-twitter{
    width: 26px;
    height: 22px;
    background: url("../img/soc-twit.png") no-repeat;
}
.soc-instagram{
    width: 25px;
    height: 25px;
    background: url("../img/soc-instagr.png") no-repeat;
}
.soc-vk{
    width: 34px;
    height: 19px;
    background: url("../img/soc-vk.png") no-repeat;
}
.soc-google{
    width: 28px;
    height: 24px;
    background: url("../img/soc-google.png") no-repeat;
}
